---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Betalningsinformation">
  <div class="page-content">
    <h1>Betalningsinformation</h1>

    <p>
      Betalning sker via Swish senast dagen innan tävlingen. Om det inte är möjligt för er att
      betala via Swish så ombeds ni kontakta Tunnelbanejaktens planeringsgrupp. Mer information
      kommer.
    </p>

    <p>Betalning sker gruppvis, dvs. inte per scoutkår eller per deltagare.</p>

    <p><strong>Avgifter:</strong></p>
    <ul>
      <li>För er som deltar på plats i Stockholm: 100 kr/deltagare.</li>
      <li>För er som deltar i distans-klassen: 150 kr/lag</li>
    </ul>

    <h2>Återbetalning vid avanmälan</h2>

    <p>
      Pga. de inköp som måste göras är det inte säkert att vi kan betala tillbaka hela avgiften om
      en grupp avanmäler sig efter betalning är gjord. Mer information finns på sidan{' '}
      <a href="/om-tsl/samarbeten-och-personuppgifter/">Anmälningsvillkor och personuppgifter</a>.
    </p>
  </div>
</Layout>
