---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Vad är Tunnelbanejakten?">
  <div class="page-content">
    <h1>Vad är Tunnelbanejakten?</h1>

    <p>
      Tunnelbanejakten är en tävling (spårning) som arrangeras i Stockholms innerstad av scouter. Du
      behöver dock inte vara scout för att få delta.
    </p>

    <p>
      Det kommer finnas både bemannade och obemannade kontroller ute på stan. Lagen tar sig till
      kontrollplatserna med hjälp av karta och väl där presenteras kontrollen. För att detta ska
      fungera måste varje lag ha en mobil med GPS och internetuppkoppling.
    </p>

    <p>
      Det är upp till varje grupp att planera hur de ska lägga upp dagen för att klara så många
      uppgifter de kan. Med största sannolikhet kommer ingen grupp att hinna med allt så det gäller
      att prioritera klokt.
    </p>

    <p>Ni måste också vara beredda på spontana uppdrag som dyker upp under dagen.</p>

    <h2>Mer information</h2>

    <ul class="link-list">
      <li><a href="/om-tsl/sa-har-gar-tavlingen-till/">Så här går tävlingen till</a></li>
      <li><a href="/om-tsl/regler-och-tavlingsklasser/">Regler och tävlingsklasser</a></li>
      <li><a href="/distans-klassen/">Distans-klassen</a></li>
      <li><a href="/dagen/packning/">Packning</a></li>
      <li><a href="/webappen/">Vår webbapp</a></li>
      <li><a href="/om-tsl/betalningsinformation/">Betalningsinformation</a></li>
      <li><a href="/dagen/tillganglighet/">Tillgänglighet</a></li>
      <li>
        <a href="/om-tsl/samarbeten-och-personuppgifter/">Anmälningsvillkor och personuppgifter</a>
      </li>
      <li><a href="/overnattning/">Övernattning</a></li>
      <li><a href="/om-tsl/for-funktionarer/">För funktionärer</a></li>
    </ul>

    <p>
      Tunnelbanejakten arrangeras av scouter och ledare från olika{' '}
      <a href="http://equmenia.se/stockholm/" target="_blank" rel="noopener noreferrer"
        >Equmenia-kårer i Region Stockholm</a
      >.
    </p>
  </div>
</Layout>
