---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Så här går tävlingen till">
  <div class="page-content">
    <h1>Så här går tävlingen till</h1>

    <p><strong>Viktiga tider:</strong></p>
    <ul>
      <li>08.30 Incheckningen öppnar i appen och i Norrmalmskyrkan</li>
      <li><strong>09.00 Samling och start</strong></li>
      <li>10.00 Kontrollerna öppnar</li>
      <li>12.30-13.30 Kontrollerna har lunchstängt</li>
      <li><strong>16.00 Kontrollerna stänger</strong></li>
      <li><strong>16.30 Målgång stänger</strong></li>
      <li>17.00 Andakt (frivillig)</li>
      <li>17.15 Avslutning och prisutdelning</li>
    </ul>

    <h2>Incheckning</h2>

    <p>
      På morgonen den 6:e april kommer lagledarna få en länk till vår webbapp. Mer information om
      appen finns på sidan <a href="/webappen/">Webbappen</a>.
    </p>

    <p>Via webbappen checkar laget in på morgonen innan morgonsamlingen.</p>

    <p>
      Vid incheckning så markerar ni vilka deltagare som kommer vara med under dagen (ni behöver
      alltså inte ändra er anmälan om någon blir sjuk, ni checkar istället inte in dessa personer).
    </p>

    <p>
      <em>
        Om det inte går att checka in via appen så checkar ni istället in genom att lagledaren går
        till Kundtjänst vid kyrkans entré.
        <strong>Obs. att utrymmet är något begränsat så hela laget behöver inte stå i kö.</strong>
      </em>
    </p>

    <p>
      I kyrkan kommer det finnas ett utrymme för väskor och annan packning som ni inte behöver under
      dagen.
    </p>

    <h2>Start och andakt</h2>

    <p>
      Dagen inleds vid 9-tiden med en genomgång av allt praktiskt som lagen behöver veta under
      dagen. Vi erbjuder också en andakt för de som önskar.
    </p>

    <h2>Vad ger poäng under dagen?</h2>

    <p>Det finns fyra sätt att samla poäng under dagen:</p>
    <ul>
      <li>Bemannade kontroller</li>
      <li>Obemannade kontroller</li>
      <li>Kluringar</li>
      <li>Bonusuppgifter</li>
    </ul>

    <p>Läs mer om de olika sätten här nedan:</p>

    <h4>Bemannade kontroller</h4>

    <p>Ni ser era biljetter på Biljetter-sidan i appen.</p>

    <p>
      <strong>Bemannade</strong> kontroller <strong>kräver att ni visar upp en biljett</strong>.
    </p>

    <p>
      <strong>Olika biljetter</strong> för olika kontroller. Ni måste alltså visa upp rätt biljett vid
      rätt kontroll.
    </p>

    <p>
      <strong>Kolla kartan</strong> för att se vart ni kan gå. Kartan visar vilka kontroller ni har fått
      biljetter till.
    </p>

    <p>Ni får biljetter genom att knappa in olika lösenord på Biljetter-sidan.</p>

    <p>
      Ni får första lösenordet när tävlingen startar. Ni får sedan ett nytt lösenord efter varje
      avklarad bemannad kontroll.
    </p>

    <p><em>De bemannade kontrollerna är öppna 10-12:30 och 13:30-16.</em></p>

    <h4>Obemannade kontroller</h4>

    <p>Dessa syns på Karta-sidan i appen.</p>

    <p>
      Detta är utmaningar som ni bara kan göra <em>om ni befinner er på en viss plats</em>.
    </p>

    <p>
      Kontrollerna är tidsbegränsade, dvs. ni har ett visst antal minuter på er från det att ni
      kommer till kontrollen.
    </p>

    <p><em>Obemannade kontroller kan göras när som helst mellan 9:30-16:30.</em></p>

    <h4>Kluringar</h4>

    <p>Rebusar, chiffer, kunskapsfrågor och andra klurigheter hittar ni på Svara-sidan i appen.</p>

    <p>
      Svårighetsnivån är blandat, så om en uppgift känns för svår så är det bara att kolla en annan.
    </p>

    <p><em>Kluringar kan besvaras när som helst och var som helst mellan 9:30-16:30.</em></p>

    <h4>Bonusuppgifter</h4>

    <p>Under dagen kommer vi skicka ut "bonusuppgifter" via SMS till lagledarna.</p>

    <p>Ni rapporterar in era svar/bidrag/lösningar på bonusuppgifter på Svara-sidan i appen.</p>

    <h2>Målgång och prisutdelning</h2>

    <p>Laget måste vara tillbaka senast 16:30.</p>

    <p>
      Vid målgång så går lagledaren till Kundtjänst och anmäler att ni är tillbaka (detta görs
      alltså <em>inte</em> via appen).
    </p>

    <p>Resten av laget går till församlingssalen (där det finns fika!).</p>

    <p>När ni fikat klart och tävlingsledningen rättat alla svar så blir det prisutdelning!</p>

    <h2>Kundtjänst</h2>

    <p>Om ni har frågor under dagen kan ni kontakta Kundtjänst:</p>
    <ul>
      <li>070-0029433</li>
      <li>Instagram</li>
      <li>Facebook</li>
    </ul>
  </div>
</Layout>
