---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Anmälningsvillkor och personuppgifter">
  <div class="page-content">
    <h1>Anmälningsvillkor och personuppgifter</h1>

    <h2>Sista dag för anmälan av ytterligare lag</h2>

    <p>Anmälan stänger den 22:a mars. Efter detta datum kan inga nya lag anmälas.</p>

    <h2>Sista dag för betalning</h2>

    <p>Betalning sker senast dagen innan tävlingen.</p>

    <p>Betalning sker gruppvis, dvs. inte per scoutkår eller per deltagare.</p>

    <p>
      Betalning sker via Swish (instruktioner kommer skickas ut i god tid innan tävlingen). Kontakta
      Tunnelbanejaktens planeringsgrupp om ni istället vill få en faktura.
    </p>

    <h2>Ändringar, avanmälan och återbetalning</h2>

    <p>
      Fram till att anmälan stänger så kan lag själva ändra sina anmälningar utan begränsningar.
    </p>

    <p>
      Efter att anmälan stängt så kan lag själva ändra information om anmälda deltagare (exempelvis
      namn och kontaktuppgifter) men det är inte möjligt att lägga till eller ta bort deltagare.
    </p>

    <p>Återbetalning av inbetalade avgifter görs enbart fram till att anmälan stänger.</p>

    <p>
      Avanmälan av lag eller deltagare räknas som en ändring och kan därför enbart göras fram till
      att anmälan stänger. En deltagare kan dock bytas ut genom att byta namn på den deltagare som
      inte längre kan vara med.
    </p>

    <h2>Sena ändringar</h2>

    <p>
      Det är möjligt att göra sena ändringar, dvs. ändringar i anmälan efter att anmälan stängt,
      genom att kontakta Tunnelbanejaktens planeringsgrupp.
    </p>

    <p>
      Anmälningsavgift för lag eller deltagare som avanmäls på detta sätt återbetalas inte (pga.
      redan gjorda inköp såsom mat och märken).
    </p>

    <p>
      Arrangemanget förbehåller sig rätten att kräva betalning för samtliga deltagare som var
      anmälda när anmälan stängde och för deltagare som läggs till som "sen ändring".
    </p>

    <h2>Arrangör och samarbeten</h2>

    <p>
      Tunnelbanejakten genomförs av en grupp scoutledare från olika Equmenia-kårer, med stöd från
      regionen Equmenia Stockholm.
    </p>

    <p>
      Equmenia Stockholm samarbetar med{' '}
      <a href="https://bilda.nu/" target="_blank" rel="noopener noreferrer">studieförbundet Bilda</a
      >.
    </p>

    <h2>Personuppgifter</h2>

    <p>
      För att genomföra Tunnelbanejakten behöver vi behandla vissa personuppgifter. Exempel på detta
      är exempelvis namn, personnummer, fotografier och matallergier. Behandling av personuppgifter
      innebär att personuppgifter förekommer i bland annat dokument, register och e-post. Alla
      personuppgifter behandlas digitalt. Vissa personuppgifter skrivs även ut på papper.
    </p>

    <p>
      I de fall vi behöver skicka personuppgifter till Equmenia Stockholm eller en samarbetspartner
      så skickar vi minsta möjliga mängd information. Exempel: Om födelsedatum är det enda som krävs
      så skickar vi inte hela personnumret.
    </p>

    <p>
      Person eller persons vårdnadshavare kan begära ett utdrag av behandlade personuppgifter genom
      att skicka en förfrågan via e-post.
    </p>

    <p>
      Namn och kontaktinformation för deltagande lags kontaktpersoner, exempelvis lagledare och
      vuxen kontaktperson, sparas till nästkommande år. Uppgifterna används exempelvis för att kunna
      skicka ut information om våra kommande arrangemang och för att underlätta fakturering ifall
      lag inte betalat in anmälningsavgiften i tid. All information om övriga deltagare rensas bort
      senast en månad efter genomfört arrangemang.
    </p>
  </div>
</Layout>
