---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Hitta till start">
  <div class="page-content">
    <h1>Hitta till start</h1>

    <h2>För er som tävlar i Stockholm</h2>

    <p>Tävlingen startar och slutar i Norrmalmskyrkan.</p>

    <p>
      Adress:{' '}
      <a href="https://goo.gl/maps/GGwjq7A2LbDvP4iq9" target="_blank" rel="noopener noreferrer">
        Norrtullsgatan 37, 113 27 Stockholm
      </a>.
    </p>

    <p>
      Om ni åker tunnelbana eller pendeltåg: Närmaste station är Odenplan (ungefär 150 m från
      kyrkan).
    </p>

    <p>
      Om ni åker bil:{' '}
      <a
        href="https://www.stockholmparkering.se/hitta-oss-pa-kartan/?visibility=visit&place-id=ChIJhfte2nGdX0YRCv89e3PrghY"
        target="_blank"
        rel="noopener noreferrer"
      >
        Karta med parkeringsplatser i närheten av Norrmalmskyrkan
      </a>.
    </p>

    <h3>Tips för er som tar er till Stockholm med tåg</h3>

    <p>
      På Stockholm Central kan ni ta pendeltåget eller tunnelbanan till station Odenplan. Det är
      samma uppgångar till markplan oavsett vad ni väljer.
    </p>

    <p>
      Om ni blir försenade så föreslår vi att ni tar er till Norrmalmskyrkan i vilket fall som
      helst. Kyrkan kommer vara bemannad hela dagen och funktionär på plats kommer kunna hjälpa er.
    </p>

    <h2>För distanslagen</h2>

    <p>
      Ni kommer att få en startplats i er hemort. Kontakta tävlingsledningen om ni ett par dagar
      innan tävlingen ännu inte fått reda på er startplats.
    </p>
  </div>
</Layout>
