---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Packning">
  <div class="page-content">
    <h1>Packning</h1>

    <h2>Varje deltagare:</h2>

    <p>Varje deltagare måste ha med sig:</p>
    <ul>
      <li>Bra skor att gå i.</li>
      <li>Matsäck eller pengar till lunch på stan.</li>
      <li>
        Kort eller app för att köpa SL-biljetter. Se även:{' '}
        <a href="/dagen/resor-under-dagen/">Resor under dagen</a>.
      </li>
      <li>Glatt humör!</li>
    </ul>

    <h2>Varje grupp:</h2>

    <p>Varje grupp måste ha med sig:</p>
    <ul>
      <li>Nyladdad mobil med lite surfpott, GPS och kamera.</li>
      <li>Powerbank till mobilen, om ni vet att er telefon har dåligt batteri.</li>
      <li>Lite saker att pyssla med (nej, vi tänker inte säga mer än så).</li>
      <li>
        Lite saker att bygga med (typ Lego, träklossar, spagetti, sugrör, vedträn eller vad ni nu
        gissar kan bli användbart).
      </li>
      <li>Papper.</li>
      <li>Pennor i olika färger.</li>
      <li>En mugg eller drickkåsa.</li>
      <li>Måttband.</li>
    </ul>

    <p>
      Gällande datatrafik/surf så kommer det inte gå åt speciellt mycket data. Ni ska mest kolla på
      kartan, skicka in lite bilder, och kanske ladda upp något kort videoklipp.
    </p>

    <p>Kontakta tävlingsledningen om något av allt detta ställer till problem för ert lag.</p>

    <h2>Sist men inte minst:</h2>

    <p>Kläder på tema uppskattas. Vad årets tema är meddelas snart!</p>
  </div>
</Layout>
