---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Resor under dagen">
  <div class="page-content">
    <h1>Resor under dagen</h1>

    <p>
      För att ta sig mellan de olika kontrollerna behöver ni åka kollektivt. Biljetter för detta
      ingår <em>inte</em> i anmälningsavgiften.
    </p>

    <p>Det finns tre sätt att köpa biljett:</p>
    <ul>
      <li>
        <strong>Via SL:s app.</strong> Man får då upp en QR-kod på mobilen som skannas där du går ner
        i tunnelbanan eller kliver på bussen.
      </li>
      <li>
        <strong>Med vanligt betalkort.</strong> Dessa "blippas" när du går ner i tunnelbanan eller kliver
        på bussen. Biljettpriset dras automatiskt från ditt bankkonto.
      </li>
      <li>
        <strong>Med SL:s eget kort.</strong> Dessa fylls på med enkelbiljetter i förväg och blippas sedan
        på samma sätt som betalkort.
      </li>
    </ul>

    <p>
      Den officiella SL-appen heter "SL-Reseplanerare och biljetter" och är utgiven av "AB
      Storstockholms Lokaltrafik".<br />
      <a
        href="https://apps.apple.com/se/app/sl-reseplanerare-och-biljetter/id918418291"
        target="_blank"
        rel="noopener noreferrer"
      >
        SL-Reseplanerare och biljetter för iPhone
      </a><br />
      <a
        href="https://play.google.com/store/apps/details?id=com.sl.SLBiljetter&hl=sv"
        target="_blank"
        rel="noopener noreferrer"
      >
        SL-Reseplanerare och biljetter för Android
      </a>
    </p>

    <p><strong>Bra att känna till:</strong></p>
    <ul>
      <li>
        Det finns många olika biljetter att välja mellan.{' '}
        <em>Enkelbiljetter och 24-timmarskort är troligtvis de bästa alternativen för många.</em>
      </li>
      <li>
        En enkelbiljett gäller för obegränsat antal resor under 75 minuter. Det kommer troligtvis gå
        ut 4-5 enkelbiljetter under dagen.
      </li>
      <li>
        För dig som får åka till rabatterat pris och vill "blippa betalkort": Registrera kortet på
        SL:s hemsida, annars kostar varje biljett fullt pris. Mer information finns här:{' '}
        <a
          href="https://sl.se/biljetter/res-med-betalkort/rabatterat-pris-med-betalkort/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Res till rabatterat pris med betalkort
        </a>.
      </li>
    </ul>

    <p>Information på SL:s hemsida:</p>
    <ul>
      <li>
        <a
          href="https://sl.se/biljetter/res-med-betalkort/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Res med betalkort
        </a>
      </li>
      <li>
        <a
          href="https://sl.se/biljetter/sortiment-och-regler/rabatter/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Resa till rabatterat pris
        </a>
      </li>
      <li>
        <a
          href="https://sl.se/biljetter/res-med-betalkort/rabatterat-pris-med-betalkort/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Res till rabatterat pris med betalkort
        </a>
      </li>
      <li>
        <a
          href="https://sl.se/reseplanering/att-resa-med-sl/planera-din-resa"
          target="_blank"
          rel="noopener noreferrer"
        >
          Så planerar du din resa
        </a>
      </li>
      <li>
        <a
          href="https://sl.se/reseplanering/att-resa-med-sl/blippa-pa-ratt-satt"
          target="_blank"
          rel="noopener noreferrer"
        >
          Så här blippar du mobilen eller kortet på buss, tunnelbana och spårväg
        </a>
      </li>
    </ul>
  </div>
</Layout>
