---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Tillgänglighet">
  <div class="page-content">
    <h1>Tillgänglighet</h1>

    <p>
      Tunnelbanejakten ska vara en inkluderande verksamhet. Om din grupp har speciellt behov så
      försöker vi tillgodose dessa.
    </p>

    <h3>Nedsatt rörlighet</h3>

    <p>Kontroller ute på stan brukar placeras på gräsmattor i parker.</p>

    <h3>Övriga funktionsnedsättningar</h3>

    <p>
      Kontakta planeringsgruppen om du har frågor eller särskilda behov så ska vi se vad vi kan
      göra.
    </p>
  </div>
</Layout>
