---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Distans-klassen">
  <div class="page-content">
    <h1>Distans-klassen</h1>

    <p>
      För lag som inte har möjlighet att ta sig till Stockholm så erbjuder vi{' '}
      <strong
        >en specialversion av Tunnelbanejakten som kan genomföras var som helst i landet!</strong
      >
    </p>

    <p><strong>Så här fungerar det:</strong></p>
    <ul>
      <li>
        Ni anmäler er som vanligt men istället för att välja en åldersgrupp så väljer ni
        Distans-klassen.
      </li>
      <li>Ni uppger vilken ort ni kommer befinna er i.</li>
      <li>Vi kommer placera ut digitala (obemannade) kontroller på en karta i just er kommun.</li>
    </ul>

    <p>
      En jämförelse mellan de olika tävlingsklasserna finns på sidan{' '}
      <a href="/om-tsl/regler-och-tavlingsklasser/">Regler och tävlingsklasser</a>.
    </p>

    <p><strong>Bra att veta:</strong></p>
    <ul>
      <li>Intro, andakt och prisutdelning kommer att <strong>streamas via Twitch</strong>.</li>
      <li>
        <strong>Inga bemannade kontroller, enbart obemannade.</strong> Kontrollerna kommer vara utplacerade
        på gångavstånd från er startplats, så ni kommer inte behöva resa kollektivt under tävlingen.
      </li>
      <li>
        För att kunna genomföra kontrollerna krävs viss utrustning som lagen måste ta med sig
        hemifrån (mer information finns på sidan om{' '}
        <a href="/dagen/packning/">Packning</a>).
      </li>
    </ul>
  </div>
</Layout>
