---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Kontakt">
  <div class="page-content">
    <h1>Kontakt</h1>

    <p>
      Har du frågor, komplimanger, speciella önskemål eller ett kul skämt? Tveka inte att höra av
      dig!
    </p>

    <ul>
      <li>
        E-post:{' '}
        <a href="mailto:tunnelbanejakten@gmail.com">tunnelbanejakten@gmail.com</a>
      </li>
      <li>
        Facebook:{' '}
        <a
          href="https://www.facebook.com/tunnelbanejakten"
          target="_blank"
          rel="noopener noreferrer"
        >
          tunnelbanejakten
        </a>
      </li>
      <li>
        Instagram:{' '}
        <a
          href="https://www.instagram.com/tunnelbanejakten/"
          target="_blank"
          rel="noopener noreferrer"
        >
          @tunnelbanejakten
        </a>
      </li>
    </ul>
  </div>
</Layout>
