---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Övernattning">
  <div class="page-content">
    <h1>Övernattning</h1>

    <p>Vi kommer inte organisera någon gemensam övernattning detta år.</p>
  </div>
</Layout>
