---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Resultat 2023">
  <div class="page-content">
    <h1>Resultat 2023</h1>

    <div class="result-section">
      <h2>13-15</h2>
      <table>
        <tbody>
          <tr><td>Skepp o'hoj</td><td>285 p</td></tr>
          <tr><td>Lotus</td><td>282 p</td></tr>
          <tr><td>Bergsgetterna 1</td><td>250 p</td></tr>
          <tr><td>Lerduvorna</td><td>249 p</td></tr>
          <tr><td>Äventyrare Ville</td><td>243 p</td></tr>
          <tr><td>Tvättbjörnen</td><td>229 p</td></tr>
          <tr><td>Finns i sjön</td><td>227 p</td></tr>
          <tr><td>Björnen</td><td>224 p</td></tr>
          <tr><td>Mumintrollen</td><td>222 p</td></tr>
          <tr><td>Spejarna</td><td>219 p</td></tr>
          <tr><td>Bergsgetterna 2</td><td>218 p</td></tr>
          <tr><td>Tiofoting</td><td>213 p</td></tr>
          <tr><td>JomenVist</td><td>204 p</td></tr>
          <tr><td>Getmannens Avkomlingar</td><td>204 p</td></tr>
          <tr><td>grus grus</td><td>183 p</td></tr>
          <tr><td>Äventyrare Viktor</td><td>182 p</td></tr>
          <tr><td>Vildsvinen</td><td>182 p</td></tr>
          <tr><td>Äventyrare Valle</td><td>180 p</td></tr>
          <tr><td>De galna getterna</td><td>175 p</td></tr>
          <tr><td>Bjärven</td><td>170 p</td></tr>
          <tr><td>Nybyggarna</td><td>167 p</td></tr>
          <tr><td>Anonyma Ankorna</td><td>166 p</td></tr>
          <tr><td>Smålänningarna</td><td>166 p</td></tr>
          <tr><td>Draken</td><td>163 p</td></tr>
          <tr><td>Stranden</td><td>156 p</td></tr>
          <tr><td>Fluffig örn</td><td>156 p</td></tr>
          <tr><td>Drakarna</td><td>152 p</td></tr>
          <tr><td>Kungspingvinerna</td><td>148 p</td></tr>
          <tr><td>Bläckfisken</td><td>145 p</td></tr>
          <tr><td>#villintevaramed</td><td>141 p</td></tr>
          <tr><td>Skeppet</td><td>136 p</td></tr>
          <tr><td>Sockerbagarna</td><td>131 p</td></tr>
          <tr><td>Los Deodorantos</td><td>130 p</td></tr>
          <tr><td>Bergsgetterna 3</td><td>110 p</td></tr>
          <tr><td>Pasta carabonara</td><td>102 p</td></tr>
          <tr><td>Eldduvorna</td><td>78 p</td></tr>
          <tr><td>Fossana</td><td>75 p</td></tr>
          <tr><td>Duck Army</td><td>61 p</td></tr>
        </tbody>
      </table>
    </div>

    <div class="result-section">
      <h2>15-18</h2>
      <table>
        <tbody>
          <tr><td>Barbamamma</td><td>329 p</td></tr>
          <tr><td>Bergakungaettan</td><td>300 p</td></tr>
          <tr><td>Räcersniglarna</td><td>284 p</td></tr>
          <tr><td>Metarna</td><td>275 p</td></tr>
          <tr><td>Blåmögelgetostarna</td><td>241 p</td></tr>
          <tr><td>Vargen</td><td>236 p</td></tr>
          <tr><td>LUX</td><td>218 p</td></tr>
          <tr><td>Valsätra Utmanare Bättre</td><td>203 p</td></tr>
          <tr><td>Valsätra Utmanare Bäst</td><td>191 p</td></tr>
          <tr><td>Björnarna</td><td>187 p</td></tr>
          <tr><td>Träskmyggorna</td><td>162 p</td></tr>
          <tr><td>Ratatosk</td><td>139 p</td></tr>
          <tr><td>Findus</td><td>137 p</td></tr>
          <tr><td>Einar &amp; Co</td><td>112 p</td></tr>
        </tbody>
      </table>
    </div>

    <div class="result-section">
      <h2>18+</h2>
      <table>
        <tbody>
          <tr><td>Fårskallarna</td><td>290 p</td></tr>
          <tr><td>Hazmatt</td><td>254 p</td></tr>
          <tr><td>Växtverk</td><td>221 p</td></tr>
          <tr><td>Rågdrasil</td><td>220 p</td></tr>
          <tr><td>Dalfolk</td><td>211 p</td></tr>
          <tr><td>Bergakungatvåan</td><td>208 p</td></tr>
          <tr><td>Guldsteklarna</td><td>206 p</td></tr>
          <tr><td>GurkaMynta</td><td>205 p</td></tr>
          <tr><td>Land i sikte</td><td>204 p</td></tr>
          <tr><td>Smurfarna</td><td>186 p</td></tr>
          <tr><td>Bergaledarna</td><td>170 p</td></tr>
          <tr><td>Dom där</td><td>145 p</td></tr>
        </tbody>
      </table>
    </div>

    <div class="result-section">
      <h2>Distans</h2>
      <table>
        <tbody>
          <tr><td>Vittaryds Utmanare</td><td>259 p</td></tr>
          <tr><td>Mördarsniglarna</td><td>229 p</td></tr>
        </tbody>
      </table>
    </div>
  </div>
</Layout>
