---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Resultat 2021">
  <div class="page-content">
    <h1>Resultat 2021</h1>

    <div class="result-section">
      <h2>Klass 13-15</h2>
      <p>
        Finns i sjön, 296 p<br />
        Rovfåglarna, 216 p<br />
        Södra K, 203 p<br />
        Vargarna, 191 p<br />
        Vikingarna, 177 p<br />
        Rovdjuren, 155 p<br />
        Trosa äventyrare, 107 p<br />
        Rovfåglarna, 78 p
      </p>
    </div>

    <div class="result-section">
      <h2>Klass 15-18</h2>
      <p>
        Frozzarna, 274 p<br />
        Farmors kletsmet, 211 p<br />
        Cookie Monsters, 191 p<br />
        Frossarna, 187 p<br />
        Patrull Ugglan Rotebro scoutkår, 160 p<br />
        Bysen, 132 p<br />
        Falukorv, 114 p<br />
        Ratatosk, 56 p
      </p>
    </div>

    <div class="result-section">
      <h2>Klass 18+</h2>
      <p>
        Bibelfjäll, 411 p<br />
        Salaledarna, 323 p<br />
        Kaessler, 311 p<br />
        The mosquito hunting club, 281 p<br />
        Mormors lilla guldklimp, 234 p<br />
        Bred Last +, 223 p<br />
        Bänk, 202 p<br />
        Glupp, 183 p<br />
        Asagudarna, 172 p
      </p>
    </div>
  </div>
</Layout>
