---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Resultat 2018">
  <div class="page-content">
    <h1>Resultat 2018</h1>

    <div class="result-section">
      <h2>Klass 13-15</h2>
      <table>
        <thead><tr><th>Lag</th><th>Poäng</th></tr></thead>
        <tbody>
          <tr><td>Blå Burk</td><td>340</td></tr>
          <tr><td>Bergsgetstvåan18</td><td>314</td></tr>
          <tr><td>Skogsluffarna</td><td>270</td></tr>
          <tr><td>Djuphavskängrurna</td><td>242</td></tr>
          <tr><td>Isbjörnen</td><td>241</td></tr>
          <tr><td>Björnen (f.d. Uttern)</td><td>240</td></tr>
          <tr><td>Geoparden</td><td>234</td></tr>
          <tr><td>Långskeppen Vikingarna</td><td>230</td></tr>
          <tr><td>Bergslaget</td><td>225</td></tr>
          <tr><td>Fanta</td><td>220</td></tr>
          <tr><td>Bergsgetsettan18</td><td>216</td></tr>
          <tr><td>Rasboscout</td><td>214</td></tr>
          <tr><td>Zebrabenhår</td><td>213</td></tr>
          <tr><td>Urdjuren (Trollbäckens scoutkår)</td><td>211</td></tr>
          <tr><td>Gummiankorna</td><td>193</td></tr>
          <tr><td>Vargen</td><td>188</td></tr>
          <tr><td>Björndjuren (Segeltorp)</td><td>166</td></tr>
          <tr><td>Trögkryparna (Segeltorp)</td><td>165</td></tr>
          <tr><td>Carolinerna, Kallhälls scoutkår</td><td>149</td></tr>
          <tr><td>Skeppet</td><td>133</td></tr>
          <tr><td>Smålänningarna</td><td>108</td></tr>
          <tr><td>Lynx lynx</td><td>68</td></tr>
        </tbody>
      </table>
    </div>

    <div class="result-section">
      <h2>Klass 15-18</h2>
      <table>
        <thead><tr><th>Lag</th><th>Poäng</th></tr></thead>
        <tbody>
          <tr><td>Ej i Trafik</td><td>380</td></tr>
          <tr><td>Nålstick</td><td>283</td></tr>
          <tr><td>Vilse</td><td>275</td></tr>
          <tr><td>Uppdal</td><td>274</td></tr>
          <tr><td>Kaessler</td><td>270</td></tr>
          <tr><td>Smurfarna</td><td>269</td></tr>
          <tr><td>Cirkeln</td><td>258</td></tr>
          <tr><td>Glenn H</td><td>257</td></tr>
          <tr><td>Vilsnare</td><td>241</td></tr>
          <tr><td>GammelGäddan (Findus JR)</td><td>239</td></tr>
          <tr><td>Grodan Frank</td><td>239</td></tr>
          <tr><td>Stormjölkarna</td><td>239</td></tr>
          <tr><td>Gripen</td><td>234</td></tr>
          <tr><td>Bäschö TBJ</td><td>218</td></tr>
          <tr><td>Villbattingarna</td><td>204</td></tr>
          <tr><td>Radagast</td><td>202</td></tr>
          <tr><td>GurkaMynta</td><td>186</td></tr>
          <tr><td>Equmenia Flodhästarna som gillar Kexchoklad</td><td>170</td></tr>
          <tr><td>Skönsala</td><td>137</td></tr>
          <tr><td>85 spänn i sjön</td><td>133</td></tr>
          <tr><td>Steglitz</td><td>30</td></tr>
        </tbody>
      </table>
    </div>

    <div class="result-section">
      <h2>Klass 18+</h2>
      <table>
        <thead><tr><th>Lag</th><th>Poäng</th></tr></thead>
        <tbody>
          <tr><td>Rasbo kramscouter</td><td>347</td></tr>
          <tr><td>Masjävlar På Nöjestripp</td><td>331</td></tr>
          <tr><td>Rovfåglarna</td><td>302</td></tr>
          <tr><td>Findus</td><td>291</td></tr>
          <tr><td>Lost</td><td>288</td></tr>
          <tr><td>Oklart</td><td>276</td></tr>
          <tr><td>Hjärngänget</td><td>261</td></tr>
          <tr><td>Storlänningarna</td><td>238</td></tr>
          <tr><td>Brain</td><td>223</td></tr>
          <tr><td>Team valla scoutkår Linköping</td><td>200</td></tr>
          <tr><td>gammelgäddan</td><td>198</td></tr>
          <tr><td>RönningeRaggarna</td><td>171</td></tr>
          <tr><td>Långskeppen Vikingarnas Ledare</td><td>156</td></tr>
          <tr><td>Knallhattarna</td><td>74</td></tr>
        </tbody>
      </table>
    </div>
  </div>
</Layout>
