---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Resultat 2022">
  <div class="page-content">
    <h1>Resultat 2022</h1>

    <div class="result-section">
      <h2>13-15 år i Stockholm</h2>
      <p>
        Järven - Rovdjuren, 453 p<br />
        Finns i sjön!, 446 p<br />
        Skogsluffarna 1, 442 p<br />
        Lon - Rovdjuren, 439 p<br />
        Valhajen, 425 p<br />
        Vildsvinet, 413 p<br />
        Björnen - Rovdjuren, 412 p<br />
        stigfinnarna wasakåren, 350 p<br />
        Bergsgetterna 3, 331 p<br />
        Tacofreda, 329 p<br />
        Smålänningar, 321 p<br />
        Svanen, 281 p<br />
        Skepp o´hoj!, 278 p<br />
        Ej i trafik, 239 p<br />
        Bergsgetterna 2, 237 p<br />
        Bergsgetterna 1, 232 p<br />
        Eldduvorna, 227 p<br />
        Team Törtel, 217 p<br />
        Vargen - Rovdjuren, 158 p
      </p>
    </div>

    <div class="result-section">
      <h2>15-18 år i Stockholm</h2>
      <p>
        Rasbo scout Räcersniglarna, 519 p<br />
        Barba-mamma, 444 p<br />
        Bergakungarna två, 439 p<br />
        Bergakungarna ett, 436 p<br />
        Frozzarna, 420 p<br />
        Ugglans rote, 313 p<br />
        Hazmatt, 308 p<br />
        Valsätra utmanare, 285 p<br />
        Lila Ankorna, 269 p<br />
        Ratatosk, 215 p<br />
        The pretenders, 188 p
      </p>
    </div>

    <div class="result-section">
      <h2>18+ i Stockholm</h2>
      <p>
        Kaessler, 491 p<br />
        Fårskallarna, 471 p<br />
        Bergaledarna, 441 p<br />
        Dalfolk, 382 p<br />
        Land i sikte!, 380 p<br />
        GurkaMynta, 375 p<br />
        Asagudarna går på djupet, 374 p<br />
        Uttrarna, 208 p
      </p>
    </div>

    <div class="result-section">
      <h2>Distans</h2>
      <p>Vilddjuren, 311 p</p>
    </div>
  </div>
</Layout>
