---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Resultat 2017">
  <div class="page-content">
    <h1>Resultat 2017</h1>

    <div class="result-section">
      <h2>Klass 13-15</h2>
      <table>
        <thead><tr><th>Lag</th><th>Poäng</th></tr></thead>
        <tbody>
          <tr><td>Bergsgetsettan</td><td>231,5</td></tr>
          <tr><td>Bergsgetstvåan</td><td>195</td></tr>
          <tr><td>Blå Burk</td><td>192</td></tr>
          <tr><td>Skeppet</td><td>189,5</td></tr>
          <tr><td>Smurfarna</td><td>174</td></tr>
          <tr><td>Isbjörnen</td><td>152</td></tr>
          <tr><td>Stormjölkarna</td><td>151,5</td></tr>
          <tr><td>Teens Kyrkan vid Brommaplan</td><td>141</td></tr>
          <tr><td>Gäddynglet</td><td>127,5</td></tr>
          <tr><td>Djuphavskängrurna</td><td>125</td></tr>
          <tr><td>Zebraälgen</td><td>122</td></tr>
          <tr><td>Geoparderna</td><td>101</td></tr>
          <tr><td>Corvus Corax</td><td>97</td></tr>
          <tr><td>Falkugglan</td><td>56</td></tr>
          <tr><td>Sjöfåglarna</td><td>0</td></tr>
        </tbody>
      </table>
    </div>

    <div class="result-section">
      <h2>Klass 15-18</h2>
      <table>
        <thead><tr><th>Lag</th><th>Poäng</th></tr></thead>
        <tbody>
          <tr><td>Ej i trafik</td><td>379</td></tr>
          <tr><td>Galadriel 1</td><td>275</td></tr>
          <tr><td>Grodan Frank</td><td>194</td></tr>
          <tr><td>Kaessler</td><td>192</td></tr>
          <tr><td>Guldtejpen</td><td>176,5</td></tr>
          <tr><td>TB-Laxarna</td><td>176</td></tr>
          <tr><td>Bächös badanker</td><td>173</td></tr>
          <tr><td>Galadriel 2</td><td>173</td></tr>
          <tr><td>Valsätrakyrkans scoutkår</td><td>161</td></tr>
          <tr><td>Vildbattingarna</td><td>150</td></tr>
          <tr><td>Pölfne Rezyqla</td><td>126</td></tr>
          <tr><td>Gripen</td><td>107</td></tr>
          <tr><td>EFGK</td><td>75,5</td></tr>
          <tr><td>Findus Jr</td><td>70</td></tr>
        </tbody>
      </table>
    </div>

    <div class="result-section">
      <h2>Klass 18+</h2>
      <table>
        <thead><tr><th>Lag</th><th>Poäng</th></tr></thead>
        <tbody>
          <tr><td>svaxlt.jpg</td><td>334,5</td></tr>
          <tr><td>Fjällräven</td><td>323,5</td></tr>
          <tr><td>Rasbo kramscouter</td><td>286</td></tr>
          <tr><td>Sankt djungel George</td><td>258</td></tr>
          <tr><td>Findus</td><td>236</td></tr>
          <tr><td>Gammelgäddan</td><td>210,5</td></tr>
          <tr><td>Oklart (Vallentuna)</td><td>194</td></tr>
          <tr><td>Brain</td><td>167,5</td></tr>
          <tr><td>Dimstål</td><td>141,5</td></tr>
          <tr><td>Knallhattarna</td><td>104,5</td></tr>
        </tbody>
      </table>
    </div>
  </div>
</Layout>
